@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 6%;
    align-items: center;
    background-color: #fcfdfd;
}

.logo h1 {
    font-size: 1.8rem;
    font-family: 'Nunito' , sans-serif;
    color: #1f2d3d;
}

.instagram a {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
}

.home {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fcfdfd;
    position: relative;
    padding-bottom: 50px;
}

.home-content {
    width: 600px;
    margin-left: 200px;
}

.home-content h1 {
    font-size: 2.4rem;
    font-family: 'Montserrat' , sans-serif;
    color: #708090;
}

.home-content h1 span {
    font-size: 13rem;
    color: #1f2d3d;
}

.home-content p {
    color: #5d7fa3;
    font-family: 'Montserrat' , sans-serif;
}

.image {
    position: absolute;
    right: 0px;
    bottom: 84px;
    display: flex;

}

.image img {
    width: 662px;
}


.products {
    width: 100%;
    min-height: 100vh;
    background-color: #d8dcdf;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px;
    gap: 20px;
    font-family: 'Montserrat' , sans-serif;
}

.card {
    width: 200px;
    height: 100%;
    background-color: #f0f2f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    overflow: hidden;
    padding-bottom: 5px;
}

.pr-img {
    overflow: hidden;
}

.card img {
    width: 200px;
    transition: .3s ease;
}

.card img:hover {
    transform: scale(1.4);
}

.card h3 {
    color: #1f2d3d;
    font-size: 1rem;
    max-width: 100%;
    white-space: nowrap;       
    overflow: hidden;           
    text-overflow: ellipsis;    
}

.card p {
    color: #5d7fa3;
}

.card a {
    background: linear-gradient(to right, #e84c4c, #f6d6d6, #f1e4d6);
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    border-radius: 3px;
    font-weight: 400;
}

.card a:hover {
    background: transparent;
    border: solid 1px #e84c4c;
}



@media screen and (max-width: 1550px) {
    .home-content h1{
        font-size: 1.4rem;
    }
    .home-content h1 span{
        font-size: 10rem;
    }
    .home-content{
        width: 400px;
        margin-left: 180px;
    }
    .image img {
    width: 562px;
    }
}

@media screen and (max-width: 1290px) {
    .home-content h1{
        font-size: 1.4rem;
    }
    .home-content h1 span{
        font-size: 7rem;
    }
    .home-content{
        width: 370px;
        margin-left: 150px;
    }
    .home-content p{
        font-size: 0.8rem;
    }
    .image img {
    width: 562px;
    }
}

@media screen and (max-width: 1090px) {
    .home-content h1{
        font-size: 1.4rem;
    }
    .home-content h1 span{
        font-size: 5rem;
    }
    .home-content{
        width: 300px;
        margin-left: 100px;
    }
      .home-content p{
        font-size: 0.8rem;
    }
    .image img {
    width: 500px;
    }
}

@media screen and (max-width: 905px) {
    .home-content h1{
        font-size: 1.4rem;
    }
    .home-content h1 span{
        font-size: 4rem;
    }
    .home-content{
        width: 270px;
        margin-left: 50px;
    }
      .home-content p{
        font-size: 0.8rem;
    }
    .image img {
    width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .image {
        position: static;
        margin-top: 20px;
    }
    .home-content h1{
        font-size: 1.4rem;
    }
    .home-content h1 span{
        font-size: 4rem;
    }
    .home-content{
        width: 270px;
        margin-left: 0px;
    }
    .home-content p{
        font-size: 0.8rem;
    }
    .image img {
    width: 400px;
    }
    .cards {
        padding: 30px 0px;
    }
}

@media screen and (max-width: 520px) {
    .card {
        width: 180px;
        height: 100%;
    }
    .card img {
        transition: .3s ease;
        width: 180px;
    }
    .card a {
        padding: 5px 10px;
    }
    .card h3 {
        font-size: 1rem;
    }
    .card p {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 160px;
        height: 100%;
    }
    .card img {
        transition: .3s ease;
        width: 160px;
    }
    .card p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 440px) {
    .cards {
        padding: 10px 0px;
    }
    .card a {
        padding: 5px 10px;
    }
    .card h3 {
        font-size: 1rem;
    }
    .card p {
        font-size: 0.8rem;
    }
     .card h4 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .image img {
        width: 300px;
    }
    .card h4 {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 340px) {
    .card {
        width: 140px;
        height: 100%;
    }
    .card img {
        transition: .3s ease;
        width: 140px;
    }
    .card a {
        padding: 2.5px 5px;
        font-size: 0.9rem;
    }
    .card p {
        font-size: 0.7rem;
    }
     .card h4 {
        font-size: 0.7rem;
    }
}